body{
    background-color: #BEF0CB;
}

h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;
    padding: 5% 0% 1%;
}

.tractor{
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-top: 0;
    margin-right: 300px; 
  }
  100% {
    margin-left: 0%;
  }
}

.crop{
    animation-duration: 8s;
    animation-name: slidein1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes slidein1 {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 40px;
  }
  100% {
    margin-left: 0%;
  }
}



form{
    font-size: 3rem; 
    text-align: center;  
}

.sub{
    padding: 2%;
}


.footer{
    text-align: center;
    font-size: 3rem;
    padding: 3%;
}

h4{
  text-align: center;
}

.content{
    text-align: center;
    color: #19376D;
}

h4{
  font-family: 'Indie Flower', cursive;
}

